# OS / Editor
.DS_Store
.idea/
.vscode/

# Node / Tooling
node_modules/
dist/
.server.pid
server.log
build/
.parcel-cache/
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Coverage / misc
coverage/
.env

# Temporary files
~$*
*.tmp
